.footer_CopyRight{
    text-align: center;
    background-color: rgb(100, 149, 237);
    color: black;
}
.off_add{
    color: black;
}
.footer_links ul{
    display: inline-block;
}
.footer_links ul li{
    display: inline-block;
    margin: 20px 40px;
}
.footer_links ul li a{
text-decoration: none;
color: white;
}